<%- include("../../partials/head.ejs") %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 fw-bold text-center">500 internal server error</h1>
    
    </div>
</div>
<%- include("../../partials/footer.ejs") %>
